<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/nav') %>
    <main>
      <div class="about content">
        <h2>About Us</h2>
        <p>
          Who are we? We are people who love to write blogs. We write blogs
          about everything and anything. We write blogs about our lives, our
          experiences, our thoughts, and our feelings. We write blogs about
          things that we love and things that we hate. We write blogs about
          things that we know and things that we don't know. We write blogs
          about things that we want to share with the world. We write blogs
          because we love to write blogs. We write blogs because we love to
          share our thoughts and feelings with the world. We write blogs because
          we love to connect with people. We write blogs because we love to
          inspire people. We write blogs because we love to make people think.
        </p>
        <hr />
        <p>
          So start now and create your own blog post here. It's easy and free!
        </p>
      </div>
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>
